<% if current_user %>
  <%= link_to "See My Highlights", user_url(current_user) %>
  <p></p>
  <%= link_to "Create a Highlight", new_user_highlight_url(current_user) %>
<% else %>
  <%= link_to "See All Highlights", highlights_url %>
  <p></p>
  <%= link_to "Browse a specific user's highlights", users_url %>
<% end %>